:root
  --poly-button__color var(--poly__color)
  --poly-button__background var(--poly__background)

  --poly-button__font-size var(--poly__font-size)
  --poly-button__font-weight var(--poly__font-weight)
  
  --poly-button__padding var(--poly__padding)

  --poly-button__opacity_disabled var(--poly__opacity_disabled)
  --poly-button__opacity_normal var(--poly__opacity_normal)
  --poly-button__opacity_hover var(--poly__opacity_hover)
  --poly-button__opacity_focus var(--poly__opacity_focus)
  --poly-button__opacity_active var(--poly__opacity_active)
  
  --poly-button__filter_background_normal var(--poly__filter_background_normal)
  --poly-button__filter_background_hover var(--poly__filter_background_hover)
  --poly-button__filter_background_focus var(--poly__filter_background_focus)
  --poly-button__filter_background_active var(--poly__filter_background_active)
  --poly-button__filter_background_disabled var(--poly__filter_background_disabled)
