:root
  --poly__color rgb(0, 0, 0)
  --poly__background rgb(186, 186, 186)

  --poly__font-size 0.875rem
  --poly__font-weight 700

  --poly__padding 11px 21px

  --poly__opacity_disabled 0.8 !important
  --poly__opacity_normal 0.6
  --poly__opacity_hover 0.8
  --poly__opacity_focus 0.9
  --poly__opacity_active 1.0
  
  --poly__filter_background_normal contrast(90%)
  --poly__filter_background_hover contrast(110%)
  --poly__filter_background_focus contrast(120%)
  --poly__filter_background_active contrast(150%)
  --poly__filter_background_disabled grayscale(80%)

  
  --poly__transition all 0.2s ease 0s
